/* BUAT TABLET */
@media (max-width:1000px){
	.anggota{
		width:50%;
		margin-bottom: 30px;
	}

/*    code untuk extra 1*/
    .tabel{
		width:50%;
		margin-bottom: 30px;
	}
	.pesan {
	border-radius: 10px;
	background-color: #283742;
	width: 150px;
	height: auto;
	min-height: 97px;
	padding: 10px;
	margin-bottom: 15px;
	}

	.pesan p{
	color: white;
	font-size: 12px;
	}

	.coment{
	margin-top: 25px;
	}

}
/* BUAT SMARTPHONE */
@media (max-width: 670px){
/*    code untuk header  */
  .header-right {
    display: none;
  }
  .menu-icon {
    display: block;
  }
	.anggota{
		width:100%;
		margin-bottom: 30px;
	}

/*    code untuk extra 1*/
    .tabel{
		width:100%;
		margin-bottom: 30px;
	}

	.pesan {
	border-radius: 10px;
	background-color: #283742;
	width: 150px;
	height: auto;
	min-height: 97px;
	padding: 10px;
	margin-bottom: 15px;
	}

	.pesan p{
	color: white;
	font-size: 12px;
	}
