* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.title {
    color: #02ccba;
}
html{
    scroll-behavior: smooth !important;
}
body {
    margin: 0;
    background-color: #F5F7FD;
    font-family: Avenir;
    color: #283742;
}

a {
    cursor: pointer;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

li {
    list-style: none;
    float: left;
    padding-right: 50px;
    padding-top : 20px;
}

header {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.45);
    height: 95px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    z-index: 99;
}

.header-left {
  float: left;
}

.header-left h1 {
  font-size: 28px;
  font-weight: bold;
  color: #273742;
  padding: 18px 30px;
}
.header-right {
  font-size: 20px;
  color: #273742;
  float: right;
  font-weight: 500px;
}

.header-right a {
  color: #273742;
  display: block;
  float: left;
  text-decoration: none;
}

.header-right li{
  padding-right:40px;

}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: #273742;
  float: right;
  font-size: 25px;
  padding: 40px 0;
  display: none;
}

.top-wrapper {
    background-image: url(images/top-bg.png);
    height: auto;
    background-position: right bottom;
    background-size: cover;
    width: 100%;
    float: left;
    min-height: 761px;
    background-color: linear-gradient(to top, rgba(25, 22, 205, 0.43), rgba(119, 211, 224, 0.43));

}

.top-text-wrapper {
    float: left;
    width: 100%;
}

.top-text {
    font-size: 51px;
    Color: #1E389D;
    font-weight: 600;
    padding: 215px 0 20px 0;
    margin-bottom: 0;
    animation-duration: 4s;
    animation-name: opacityChange;
    animation-iteration-count: infinite;

}

.top-text span {
    color: #FA7564;
}

.btn-top {
    float: left;
    background: #a9ceea;
    margin-left: 14%;
    padding: 13px 18px 13px 17px;
    border-radius: 50%;
    border: 24px solid #f0f5eaa1;
    font-size: 24px;
    color: white;
    display: block;
    margin-top: 1em;
    animation-delay: 0.3s;
    position: relative;
    animation: move 1.85s infinite;

}

.btn-top:hover {
    background: #586dbd;
}

@keyframes move {
    0% {
        top: 0;
    }

    50% {
        top: -20px;
    }

    100% {
        top: 0;
    }
}

@keyframes opacityChange {
    0% {
        opacity: 0.3;
    }

    20% {
        opacity: 0.75;
    }

    30%.3 {
        opacity: 0.8;
    }

    50% {
        opacity: 0.9;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.8;
    }
}

/*code untuk bagian utama*/
.utama {
    float: left;
    width: 100%;
    padding-bottom: 100px;

}

.anggota {
    width: 20%;
    float: left;
    padding: 0 25px;

}

.heading h2 {
    font-size: 40px;
    font-weight: bold;
    color: #283742;
    margin: 40px 0 15px 0;

}

.title-line {
    border-top: 3px solid #4200ff;
    width: 100px;
    margin-bottom: 60px;
}

.utama img {
    width: 100%;
    height: auto;
    max-height: 194px;
    border-radius: 10px;
    margin-bottom: 20px;
    filter: grayscale();
}

.data {}

.nama {
    font-size: 20px;
    font-weight: 500;
    color: #283742;
    margin-bottom: 20px;
}

.biodata {
    font-size: 18px;
    font-weight: 400;
    color: rgba(40, 55, 66, 0.6);
    text-align: justify;
    margin-bottom: 20px;
}

.utama a {
    font-size: 18px;
    font-weight: 400;
    color: #4200ff;
    text-decoration: none;
}

/*code untuk bagian extra 1*/


.ekstra1 {
    float: left;
    width: 100%;
    background: linear-gradient(to top, rgba(25, 22, 205, 0.43), rgba(119, 211, 224, 0.43));
    padding-bottom: 100px;
}


.tabel {
    width: 50%;
    float: left;
}

.pesan {
    border-radius: 10px;
    background-color: #283742;
    width: 500px;
    height: auto;
    min-height: 194px;
    padding: 20px;
    margin-bottom: 30px;
}

.pesan p {
    color: white;
    font-size: 20px;
}

.coment {
    margin-top: 50px;
}
