* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.title {
    color: #02ccba;
}

body {
    margin: 0;
    background-color: #F5F7FD;
    font-family: Avenir;
    color: #283742;
}
a{
    cursor: pointer;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

li {
    list-style: none;
    float: left;
    padding-right: 50px;
    padding-top: 20px;
}

header {
    position: fixed;
    width: 100%;
}

.Header {
    background-color: rgba(255, 255, 255, 0.45);
    height: 95px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    z-index: 99;
}

.Header-logo {
    float: left;
    color: #273742;
    padding: 30px 100px;
    font-weight: bold;
    font-size: 28px;
}

.Header-list {
    float: right;
    font-size: 20px;
    color: #273742;
    font-weight: 500;
    padding-right: 100px;
}

.top-wrapper {
    background-image: url(images/top-bg.png);
    height: auto;
    background-position: right bottom;
    background-size: cover;
    width: 100%;
    float: left;
    z-index: -1;
    position: absolute;
    min-height: 761px;

}

.top-text-wrapper {
    float: left;
    width: 100%;
}

.top-text {
    font-size: 51px;
    Color: #1E389D;
    font-weight: 600;
    padding: 250px 0 20px 0;
    margin-bottom: 0;

}

.top-text span {
    color: #FA7564;
}

.btn-top {
    float: left;
    background: #a9ceea;
    margin-left: 14%;
    padding: 13px 18px 13px 17px;
    border-radius: 50%;
    border: 24px solid #f0f5eaa1;
    font-size: 24px;
    color: white;
    display: block;
    margin-top: 1em;
    animation-delay: 0.3s;
    position: relative;
    animation: move 1.85s infinite;

}

.btn-top:hover {
    background:#586dbd;
}
@keyframes move {
    0% {
        top: 0;
    }

    50% {
        top: -20px;
    }

    100% {
        top: 0;
    }
}
